RemoteDesktopCenter/Service References/wsCenter/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertLogApplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAppName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strComName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLogApplicationResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertLogApplicationBySite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAppName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAppName_Sub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strComName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLogApplicationBySiteResponse">
        <s:complexType />
      </s:element>
      <s:element name="Usage_Log_Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Usage_Log_InsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="checkAppAuthorize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usern" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dept_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="app_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkAppAuthorizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkAppAuthorizeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginChecker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usern" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCheckerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginCheckerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDept">
        <s:complexType />
      </s:element>
      <s:element name="getDeptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDeptResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertLogApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLogApplication" />
  </wsdl:message>
  <wsdl:message name="InsertLogApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLogApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="InsertLogApplicationBySiteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLogApplicationBySite" />
  </wsdl:message>
  <wsdl:message name="InsertLogApplicationBySiteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLogApplicationBySiteResponse" />
  </wsdl:message>
  <wsdl:message name="Usage_Log_InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Usage_Log_Insert" />
  </wsdl:message>
  <wsdl:message name="Usage_Log_InsertSoapOut">
    <wsdl:part name="parameters" element="tns:Usage_Log_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="checkAppAuthorizeSoapIn">
    <wsdl:part name="parameters" element="tns:checkAppAuthorize" />
  </wsdl:message>
  <wsdl:message name="checkAppAuthorizeSoapOut">
    <wsdl:part name="parameters" element="tns:checkAppAuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="LoginCheckerSoapIn">
    <wsdl:part name="parameters" element="tns:LoginChecker" />
  </wsdl:message>
  <wsdl:message name="LoginCheckerSoapOut">
    <wsdl:part name="parameters" element="tns:LoginCheckerResponse" />
  </wsdl:message>
  <wsdl:message name="getDeptSoapIn">
    <wsdl:part name="parameters" element="tns:getDept" />
  </wsdl:message>
  <wsdl:message name="getDeptSoapOut">
    <wsdl:part name="parameters" element="tns:getDeptResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="InsertLogApplication">
      <wsdl:input message="tns:InsertLogApplicationSoapIn" />
      <wsdl:output message="tns:InsertLogApplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertLogApplicationBySite">
      <wsdl:input message="tns:InsertLogApplicationBySiteSoapIn" />
      <wsdl:output message="tns:InsertLogApplicationBySiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Usage_Log_Insert">
      <wsdl:input message="tns:Usage_Log_InsertSoapIn" />
      <wsdl:output message="tns:Usage_Log_InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkAppAuthorize">
      <wsdl:input message="tns:checkAppAuthorizeSoapIn" />
      <wsdl:output message="tns:checkAppAuthorizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginChecker">
      <wsdl:input message="tns:LoginCheckerSoapIn" />
      <wsdl:output message="tns:LoginCheckerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDept">
      <wsdl:input message="tns:getDeptSoapIn" />
      <wsdl:output message="tns:getDeptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertLogApplication">
      <soap:operation soapAction="http://tempuri.org/InsertLogApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLogApplicationBySite">
      <soap:operation soapAction="http://tempuri.org/InsertLogApplicationBySite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usage_Log_Insert">
      <soap:operation soapAction="http://tempuri.org/Usage_Log_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAppAuthorize">
      <soap:operation soapAction="http://tempuri.org/checkAppAuthorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginChecker">
      <soap:operation soapAction="http://tempuri.org/LoginChecker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDept">
      <soap:operation soapAction="http://tempuri.org/getDept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertLogApplication">
      <soap12:operation soapAction="http://tempuri.org/InsertLogApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLogApplicationBySite">
      <soap12:operation soapAction="http://tempuri.org/InsertLogApplicationBySite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usage_Log_Insert">
      <soap12:operation soapAction="http://tempuri.org/Usage_Log_Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAppAuthorize">
      <soap12:operation soapAction="http://tempuri.org/checkAppAuthorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginChecker">
      <soap12:operation soapAction="http://tempuri.org/LoginChecker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDept">
      <soap12:operation soapAction="http://tempuri.org/getDept" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.121.10.15/wsCenter/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.121.10.15/wsCenter/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>